nav	{
	left: 0px;
	top: 0px;
	background: rgba(252, 252, 252, 0.9);
}
.menu li {
	display: inline;
	padding: 0 5%;

}
.menu {
	display: flex;
	margin-left: auto;
    margin-right: auto;
	justify-content: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	padding: 0 20%;
}
a {
	text-decoration: none;
	color: black;
}
.list1 {
	background-image: url("../img/Group.jpg");
	background-size: auto;
	background-position: 100% -100%;
	background-repeat: no-repeat;
}
.text {
	margin: 20% 0 60%;
}
.text h4 {
	font-size: 80px;
	font-style: Stapel;
}
button {
	background-color: rgba(255, 255, 255, 1);
	border: solid 1px;
}
button:hover {
	background-color: rgba(246, 55, 101, 1);
	color: rgba(255, 255, 255, 1);
	border-color: rgba(246, 55, 101, 1);
}
button:active {
	background-color:rgba(173, 14, 53, 1);
	border-color: rgba(246, 55, 101, 1);
}
button:focus {
	outline: none;
	border: none;
}
.list2 h4, .list3 h4, .list4 h4, .list5 h4 {
	width: 362px;
	height: 81px;
	left: 380px;
	top: 1116px;
	font-size: 70px;
}
.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.card {
	background: rgba(250, 250, 250, 0.9) !important;
	border-color:  rgba(250, 250, 250, 0.9) !important;
	border-radius: 8px;
	padding: 32px;
}
.cards {
	padding: 0px;
}

.accord {
    background-color: rgba(240, 235, 236, 1);
    color: #444;
    transition: 0.4s;
}
.button {
	background-image: url("engine/Button_top.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	padding: 10px;
	border: none;
}
.button:hover {
	background-image: url("engine/Button_focus_top.png");
}
.button:active {
	background-image: url("engine/Button_click_top.png");
}

.bottom {
	background-image: url("engine/Button_bottom.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	padding: 10px;
	border: none;
}
.bottom:hover {
	background-image: url("engine/Button_focus_bottom.png");
}
.bottom:active {
	background-image: url("engine/Button_click_bottom.png");
}


.active {
    background-color: rgba(249, 249, 249, 1);
	
}

.panel {
    padding: 0 18px;
    background-color: rgba(249, 249, 249, 1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



/* СТРАНИЦА 4*/
.list4 {
	height: 100%;
	padding-top: 20%;
	padding-bottom: 100px;
	background: url(../img/img4_1.jpg) left/50% auto no-repeat, url(../img/img4_2.jpg) right/50% auto no-repeat;
}
.FormContainer{
	margin-top: 1px;
	background: rgba(252, 252, 252, 0.95);
	height: 550px;

}
.bg{
	z-index: -1;
	position: absolute;
}

h2{
	margin: 60px 0px 40px 0px;
}
.FormContainer p{
	margin-bottom: 40px;
}
.form-input{
	margin-bottom: 30px;
	background: none;
	border-color: rgba(13, 13, 13, 1);
	border: solid 1px;
	border-radius: 0px; 
}

.form-input:hover {
	border-color: rgba(246, 55, 101, 1);
}
.form-input:focus {
	border-color: rgba(246, 55, 101, 1) !important;
	outline: none;
}
.nosend p:hover {
	color: rgba(246, 55, 101, 1);
}
.nosend p:active {
	color: rgba(173, 14, 53, 1);
}

.list4 button{
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}

@media (max-width: 575.98px) {
	.bg1{
		position: relative;
		top: 300px;
		right: 250px;

	}
}

/*Лист 4*/
.list4_1 {
	background: url(../img/img4_1.jpg) no-repeat, url(../img/img4_2.jpg) no-repeat;
}