@font-face {
    font-family: 'Stapel Expanded';
    src: url('fonts/Stapel-ExpandedBold.eot');
    src: local('Stapel Expanded Bold'), local('Stapel-ExpandedBold'),
        url('fonts/Stapel-ExpandedBold.woff2') format('woff2'),
        url('fonts/Stapel-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), 
    url('fonts/ralewaysemibold.woff2') format('woff2'), 
    url('fonts/ralewaysemibold.woff') format('woff'), 
    url('fonts/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html, body {
    height: 100%;
}

nav	{
	position: sticky;
	z-index: 100;
	left: 0px;
	top: 0px;
	background: rgba(255, 255, 255, 1);
}
li {
	display: inline;
}
.menu {
	height: 60px;
}

a, p {
	font-family: 'Raleway';
	font-weight: 400;
    font-style: normal;
}
.menu a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);

}
.menu a:hover {
	text-decoration: none;
	color: rgba(246, 55, 101, 1);
}
.menu a:active {
	text-decoration: none;
	color: rgba(173, 14, 53, 1);
}
.list1 {
	height: 100%;
	width: 100%;
	background: url("../img/Group.jpg") right/70% auto no-repeat no-repeat;



} 

.text {
	height: 100%;
	position: absolute;
	margin: 20% 0 50%;
}
.text h1 {
	font-size: 62px;
	font-family: 'Stapel Expanded';
	font-style: normal;
	font-weight: bold;
}
button {
	background-color: rgba(255, 255, 255, 1);
	border: solid 1px;
	font-family: 'Raleway';
	font-weight: 600;
    font-style: normal;
    padding: 10px 20px;
}
button:hover {
	background-color: rgba(246, 55, 101, 1);
	color: rgba(255, 255, 255, 1);
	border-color: rgba(246, 55, 101, 1);
}
button:active {
	background-color:rgba(173, 14, 53, 1);
	border-color: rgba(246, 55, 101, 1);
}
button:focus {
	outline: none;
	border: none;
}
.list3 h3, .list5 h3 {
	font-family: 'Stapel Expanded';
	font-style: normal;
	font-weight: bold;
}
.list2 h4, .list3 h4, .list4 h4, .list5 h4 {
	width: 362px;
	height: 81px;
	left: 380px;
	top: 1116px;
	font-size: 70px;
	font-family: 'Stapel Expanded';
	font-style: normal;
	font-weight: bold;
}
.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.card {
	background: rgba(250, 250, 250, 0.9) !important;
	border-color:  rgba(250, 250, 250, 0.9) !important;
	border-radius: 8px;
	padding: 32px;
}
.cards {
	padding: 0px;
}

.accord {
    background-color: rgba(240, 235, 236, 1);
    color: #444;
    transition: 0.4s;
}
.button {
	background-image: url("engine/Button_top.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	padding: 10px;
	border: none;
}
.button:hover {
	background-image: url("engine/Button_focus_top.png");
}
.button:active {
	background-image: url("engine/Button_click_top.png");
}

.bottom {
	background-image: url("engine/Button_bottom.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	padding: 10px;
	border: none;
}
.bottom:hover {
	background-image: url("engine/Button_focus_bottom.png");
}
.bottom:active {
	background-image: url("engine/Button_click_bottom.png");
}


.active {
    background-color: rgba(249, 249, 249, 1);
	
}

.panel {
    padding: 0 18px;
    background-color: rgba(249, 249, 249, 1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* СТРАНИЦА 4*/
.list4 {
	padding-top: 10%;
	padding-bottom: 10%;
	background: url(../img/img4_1.jpg) left/50% auto no-repeat, url(../img/img4_2.jpg) right/50% auto no-repeat;
}
.FormContainer{

	background: rgba(252, 252, 252, 0.95);


}
.bg{
	z-index: -1;
	position: absolute;
}

.list4 h4{
	margin: 60px 0px 40px 0px;
}
.FormContainer p{
	margin-bottom: 40px;
}
.form-input{
	margin-bottom: 30px;
	width: 100%;
	background: none;
	border-color: rgba(13, 13, 13, 1);
	border: solid 1px;
	border-radius: 0px;
}

.form-input:hover {
	border-color: rgba(246, 55, 101, 1);
}
.form-input:focus {
	border-color: rgba(246, 55, 101, 1) !important;
	outline: none;
}
.nosend p:hover {
	color: rgba(246, 55, 101, 1);
}
.nosend p:active {
	color: rgba(173, 14, 53, 1);
}

.list4 button{
	width: 100%;
	background: none;
	margin-bottom: 50px;
}

@media (max-width: 575.98px) {
	.list4{
		background: url(../img/img4_3.jpg) center / 100% auto no-repeat;
}
.FormContainer{
	margin: 10% 5% 50% 5%;
}
.list4 button{
	margin-bottom: 30px;
}
.nosend {
	text-align: center;
	margin-bottom: 50px;
}

}

/*Модалка*/
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

/* Кнопка закрытия */
.close {
	position: fixed;
	top: 0;
  	color: #aaa;
  	font-size: 280px;
  	font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Модальное содержание */
.modal-cont {
  background-color: #fefefe;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.rowmod {
	height: 500px;
}
.modal-cont h4{

	text-align: center;

}
/* Добавить анимация */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}