

* html #wowslider-container1{ width:1280px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
}

#wowslider-container1 .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0;
	overflow: hidden;
	float:left;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:720px;
	max-width: 100%;
	vertical-align: top;
	border:14px solid #FFFFFF;
	overflow: hidden;
}
#wowslider-container1 .ws_images ul a{
	width:100%;
	height:100%;
	max-height:720px;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images .ws_list img,
#wowslider-container1 .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 .ws_images > div > img {
	max-height:720px;
}





#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	top:50%;
	z-index:60;
	height: 6em;
	width: 6em;
	border-radius: 50%;
}

#wowslider-container1 a.ws_prev {
	left:20em;
	background-image: url(./Button_prev.png);
}
#wowslider-container1 a.ws_prev:hover {
	background-image: url(./Button_focus_prev.png);
}
#wowslider-container1 a.ws_prev:active {
	background-image: url(./Button_click_prev.png);
}

#wowslider-container1 a.ws_next{
	right:20em;
	background-image: url(./Button_next.png);
}
#wowslider-container1 a.ws_next:hover{
	background-image: url(./Button_focus_next.png);
}
#wowslider-container1 a.ws_next:active {
	background-image: url(./Button_click_next.png);
}


